<div id="contractor">
    <div id='signUpDiv' class='container rounded shadow'>

        <h4>Sign Up</h4>
        <div>
            <form id="signup" name="singup" method="post" action="/signup">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input name="companyname" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="compnayaddress">Compnay Address</label>
                    <input name="compnayaddress" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input name="state" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input name="zip" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="telnumber">Compnay Phone Number</label>
                    <input name="telnumber" type="number" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="companysize">Company Size</label>
                    <input name="companysize" type="number" class="form-control" />
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="roofing" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Roofing
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="siding" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Siding
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="windows" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Windows
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="flooring" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Flooring
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="carpet" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        Carpet
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="handyman" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                        Handyman
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="painting" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                        Painting
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="electrical" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">
                        Electrical
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="heating" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">
                        Heating
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="plumbing" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">
                        Plumbing
                    </label>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Area of Service</label>
                    <select class="form-control" id="areaofservice">
                        <option>Philadelphia</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Sign  Up" />
            </form>
            <div id="signupA">
                <a href="/login">
                    <p>Already have an account? Log in here.</p>
                </a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>